.menu {
    background-color: rgb(218, 209, 209);
    padding: 1%;
    align-items: center;
}

.itens-menu {
    text-align: right;
    justify-content: right;
    padding-right: 100px;
    margin-right: 10px;
    word-spacing: 50px;
    color: black;
    font-variant: small-caps;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.logo {
    text-align: left;
    justify-content: left;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {

    color: rgb(253, 2, 2);
    /* Define a cor no hover */
    text-decoration: none;

}